.productWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.productItem {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .productWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .productWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .productWrapper {
    grid-template-columns: 1fr;
  }
}
